
Snake/.vs/Snake/v16/.suo

Snake/.vs/Snake/v16/Server/sqlite3/storage.ide-shm

Snake/.vs/Snake/v16/Server/sqlite3/storage.ide-wal

Snake/Snake/bin/Debug/Snake.exe

Snake/Snake/obj/Debug/Snake.exe

Snake/Snake/obj/Debug/Snake.pdb

Snake/Snake/obj/Debug/Snake.csprojAssemblyReference.cache
